* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    font-size: 62.5%;
}

main {
    overflow: hidden;
}

/* NAV BAR */

header{
    width: 100%;
    height: 9rem;
    background-color: rgba(0, 86, 247, 0.795);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.brand{
    font-size: 2.1rem;
    color: rgba(0, 0, 0, 0.938);
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    width: 50%;
}

.navigation{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: .6rem;
}

.navigation li{
    margin: 0 1rem;
    padding-right: 2rem;
}

.direcciones{
    text-decoration: none;
    color: black;
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.material-symbols-outlined{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and ( max-width: 600px) {
    
    .brand{
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .direcciones{
        font-size: 1.7rem;
    }

    .navigation li{
        margin: 0  .5rem;
        padding-right: 2rem;
    }

    .navigation ul{
        margin-top: 1rem;
    }
}

@media screen and ( max-width: 380px) {
    
    .brand{
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        padding-left: 1.6rem;
    }

    .direcciones{
        font-size: 1.5rem;
    }

    .navigation li{
        margin: 0 .3rem;
        padding-right: 1rem;
    }

    .navigation ul{
        margin-top: 1rem;
    }
}


/* INDEX */

.saludo{
    font-size: 2rem;
    padding-left: 10px;
    margin-top: 10rem;
}
.card{
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 2rem;
    margin: 10px;
    padding: 20px;
    
}
.card img{
    width: 20%;
}




